<div class="content">
  <div id="facebook-login" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Facebook Login</h4>
        </div>
        <div class="modal-body">
          <p>You must be logged in to Facebook to continue.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/facebook_login">Login</a>
        </div>
      </div>
    </div>
  </div>
<div>